{% extends "base.html" %}

{% block contenu %}
    <h1>Liste des Utilisateurs</h1>
    <table class="table">
        <tr>
            <th>Nom d'utilisateur</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse Electronique</th>
            <th>Groupes</th>
            <th>Permissions</th>
            <th>Modification</th>
            <th>Suppresion</th>
        </tr>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.last_name }}</td>
                <td>{{ utilisateur.first_name }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>
                    {% for groupe in utilisateur.groups.all %}
                        {{ groupe.name }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for permission in utilisateur.user_permissions.all %}
                        {{ permission.name }}<br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'modifier_utilisateur' utilisateur.username %}">Modifier</a>
                </td>
                <td>
                    <a href="{% url 'supprimer_utilisateur' utilisateur.username %}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock  %}